.col-xs-4
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#addbutton
{
  
    margin-bottom: 1em;
    width: 8em;
    
}

.panel.panel-default
{

    background-color: rgba(200,200,200,0.7);
margin-bottom: 5%;
    
    
}

